.formHeader {
    text-align: center;
}

.formSection {
    border: 2px solid black;
    border-radius: 10px;
    padding: 1em;
    margin: 1em;
}

.formSuccess {
    text-align: center;
    color: lime;
}

.formFailure {
    text-align: center;
    color: red;
}

label {
    margin-right: 1em;
}